.header{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.header__navigation{
    display: flex;
}

.header__nav-item{
    list-style: none;
    margin-left: 2.5em
}

.header__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;
}

.header__buttons-item{
    list-style: none;
}

.header__tryforfree{
    /* margin-left: 30px; */
    border-radius: 5px;
    background-color: rgb(2, 70, 2);
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 1em 1.7em;
    font-weight: bold;
}

.hamburgur{
    display: none;
}

.hamburgur__slice{
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 400px) {
    
    .header{
        margin-top: 1em;
    }

    .header__navigation{
        display: none;
    }
    
    .header__buttons{
        display: none;
    }

    .hamburgur{
        display: inline;
    }

}